.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


body{
    background-color: hsl(216, 12%, 8%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 1440px;
}

.card{

    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(133, 133, 133, 0.1); 
    background-image: linear-gradient(180deg,hsl(212, 21%, 17%) 10%, hsl(224, 31%, 14%)90%);   
     padding: 30px;
     height:400px;
    width: 25%;
    padding-bottom: 0;
    margin-top: 150px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    
    justify-content: center;


}

h1{
    color: white;
    text-align: left;


}
p{  color: white;
    text-align: left;
}
.ratingbutton{
    
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 0;
    background-color: hsl(212, 19%, 29%) ;
}

.ratingbutton:hover{
    background-color: hsl(217, 12%, 63%);
    transition: 0.2s;
}



.rating-tag{
    width: 440px;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

#submit{
    background-color: hsl(25, 97%, 53%);
    border-radius: 20px;
    height: 40px;
    color: white;
    border: 0;
}

#submit:hover{
    background-color: white;
    color:  hsl(25, 97%, 53%);
    transition: 0.3s;
}

.star{
    display:contents;
    border-width: 20px;
    border-color: white;
    border-radius: 50%;
    height: fit-content;
    width: fit-content;
}

h2{
  
    
}